<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <title>Super-cool Blogzpot</title>
    </head>

    <style media="screen">
      .error {
        color: red;
      }

      li {
        list-style: none;
      }

      h1 {
        align-self: center;
      }
    </style>

    <body>

      <nav class="container">
        <a href="/">Home</a>
        <a href="/blogz">All Posts</a>
        <a href="/newpost">New Post</a>
        <a href="/login">Login</a>
        <a href="/logout">Logout</a>
      </nav>

      {% block content%}




      {% endblock %}

    </body>
</html>
