{% extends "base.html" %}

{% block content%}

  <body>
    {% if entry|length  == 0 %}
      <h4>No entries yet</h4>

    {% elif single_entry %}
      <h1>{{single_entry.title}}</h1>
      <p>{{single_entry.body}}</p>
      <p><em>Written by: <a href="/?user={{single_entry.owner.username}}"></em>{{single_entry.owner.username}}</a></p>

    {% else %}
    <h1>Blog Posts</h1>
    <ul>
      {% for ent in entry %}
      <li>
        <h2><a href="/blogz?id={{ent.id}}">{{ent.title}}</a></h2>
        <p>{{ent.body}}</p>
      </li>
      <p><em>Written by: <a href="/?user={{ent.owner.username}}"></em>{{ent.owner.username}}</a></p>
      <hr>
      {% endfor %}
    </ul>
    {% endif %}
  </body>

{% endblock %}
